*{
    margin: 0;
    padding: 0;

    /* text */
    font-family: 'Schoolbell', cursive;
    letter-spacing: 0.03em;
    font-size: 1.15em;
    color: var(--primary-color);
}
:root {
    --primary-color: darkolivegreen;
    --secondary-color: pink;
    --background-color: #fae8e8;
    --white-color: rgb(246, 247, 242);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: var(--background-color);
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.photobooth-container {
    width: 80%;
    height: auto;
    gap: 30px;
}

#video {
    background-color: var(--white-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;

    width: 426px;
    height: 320px;
    margin: 25px;
}

#control {
    gap: 15px;
}
.btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;

    max-width: 250px;
    padding: 10px 20px;
    margin-bottom: 15px;

    font-size: 0.6em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#photo-container{
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 260px;
    height: 560px;
    margin: 0 30px;
}
#photo-list {
    background-color: var(--white-color);
    gap: 12px;
    padding: 15px;
    overflow-y: auto;
}
#photo-list img {
    width: 213px;
    height: 160px;
    object-fit: cover;
}